.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;

  .heading {
    align-content: center;
    color: black;
    font-weight: 500;
    font-size: 40px;
    padding: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  .logo-container {
    height: 150px;
    width: 70px;
    padding: 25px;
  }

  .logo {
    height: 100px;
    width: 150px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}