body {
  padding: 20px 60px;
  // background-image: url('./assets/img.jpg');
  // background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  background-color: rgb(238, 255, 208);

  // color: aliceblue;
}